@font-face {
  font-family: 'Maderin';
  src: url("../assets/fonts/mad.ttf") format('truetype');
}

@font-face {
  font-family: 'test';
  src: url("../assets/fonts/test.ttf") format('truetype');
}

@font-face {
  font-family: 'woff';
  src: url("../assets/fonts/HussarBold.woff") format('woff');
}